<div id="post-header">
  <h1 class="post-heading">$title$</h1>
  <br />
  <div class="post-date">
    <div class="icon">
      <i class="fas fa-calendar-alt" title="posted on"></i>
    </div>
    $date$
  </div>
  <div class="post-reading-time">
    <div class="icon">
      <i class="fas fa-glasses" title="estimated reading time"></i>
    </div>
    $ert$
  </div>
</div>
<div id="post-body" class="pure-u">
  $if(canonical-url)$
  <em>Originally posted at <a href="$canonical-url$">$canonical-url$</a>.</em
  ><br />$endif$ $body$
</div>
<div id="post-footer" class="social-share tooltips">
  <a href="/" title="back"><i class="fas fa-arrow-circle-left"></i> back</a>
  <a
    href="https://gitlab.com/tzemanovic/tzemanovic.gitlab.io/blob/master/src/$path$"
    target="_blank"
    rel="noopener noreferrer"
    title="something wrong? suggest an edit on gitlab"
    ><i class="fas fa-edit"></i> suggest an edit</a
  >
  <div id="show-disqus" onclick="initDisqus()" title="show disqus comments">
    <i class="fas fa-comments"></i> show Disqus comments
  </div>
</div>

<div id="disqus_thread">
  <noscript
    >Please enable JavaScript to view the
    <a href="http://disqus.com/?ref_noscript"
      >comments powered by Disqus.</a
    ></noscript
  >
</div>
<script type="text/javascript">
  var disqus_shortname = "maseek";
  var disqus_config = function() {
    this.page.identifier = "$url$";
  };

  function initDisqus() {
    if (!document.getElementById("disqus-script")) {
      document.getElementById("disqus_thread").style.display = "block";
      document.getElementById("show-disqus").style.display = "none";
      var dsq = document.createElement("script");
      dsq.type = "text/javascript";
      dsq.async = true;
      dsq.id = "disqus-script";
      dsq.src = "//" + disqus_shortname + ".disqus.com/embed.js";
      dsq.onload = function() {
        setTimeout(function() {
          console.log("scroll batch");
          window.scrollTo(0, document.body.scrollHeight);
        }, 100);
      };
      (
        document.getElementsByTagName("head")[0] ||
        document.getElementsByTagName("body")[0]
      ).appendChild(dsq);
    }
  }
</script>

<!--
  <script>
  (function() {
  window.addEventListener("DOMContentLoaded", function() {
  var url = document.location;
  var links = document
  .getElementById("sociallinks")
  .getElementsByTagName("a");
  for (var i = 0; i != links.length; i++) {
  links[i].setAttribute("href", links[i].href.replace("$url$", url));
  }
  });
  })();
  </script>
-->
