// based of emacs 'afternoon' theme https://github.com/osener/emacs-afternoon-theme/blob/master/afternoon-theme.el
@sol-bg: #181a26;
@sol-color: #eaeaea;
@sol-comment: #969896;
@sol-green: #a2cd5a;
@sol-cyan: #70c0b1;
@sol-blue: #00bfff;
@sol-yellow: #e7c547;
@sol-orange: #b8860b;
@sol-red: #d54e53;
@sol-violet: #c397d8;

code {
    padding: 2px 4px;
    font-size: 90%;
    color: @sol-orange;
    background-color: @sol-bg;
    white-space: nowrap;
    border-radius: 4px;
}

pre {
    background-color: @sol-bg;
    color: @sol-color;
}

pre code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    white-space: pre;
    background-color: transparent;
    border-radius: 0;
}

table.sourceCode,
tr.sourceCode,
td.lineNumbers,
td.sourceCode,
table.sourceCode pre {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    border: none;
}

td.lineNumbers {
    border-right: 1px solid #AAAAAA;
    text-align: right;
    color: #AAAAAA;
    padding-right: 5px;
    padding-left: 5px;
}

td.sourceCode {
    padding-left: 5px;
}

// keyword
.sourceCode .kw {
    color: @sol-blue;
}

// data type
.sourceCode .dt {
    color: @sol-yellow;
}

// numbers
.sourceCode .dv {
    color: @sol-cyan;
}

.sourceCode .bn {
    color: @sol-cyan;
}

.sourceCode .fl {
    color: @sol-cyan;
}

// char
.sourceCode .ch {
    color: @sol-cyan;
}

// string
.sourceCode .st {
    color: @sol-cyan;
}

// comment
.sourceCode .co {
    color: @sol-comment;
    font-style: italic;
}

// other
.sourceCode .ot {
    color: @sol-green;
}

// alert
.sourceCode .al {
    color: @sol-orange;
    font-weight: bold;
}

// function
.sourceCode .fu {
    color: @sol-blue;
}

// region
.sourceCode .re {}

// error
.sourceCode .er {
    color: @sol-red;
    font-weight: bold;
}