@import "highlight.less";
@import "../vendor/fontawesome-free@5.5.0/_variables.less";
@import "../vendor/fontawesome-free@5.5.0/_core.less";
@import "../vendor/fontawesome-free@5.5.0/_icons.less";
@import (inline) "../vendor/purecss@1.0.0/pure-min.css";
@import (inline) "../vendor/purecss@1.0.0/grids-responsive-min.css";

@color-background-1: #000000;
@color-background-2: #10151f;
@color-highlight: #e6a002;

@color-text-1: #c9d3de; // lightest
@color-text-2: #bbc9d9;
@color-text-3: #a7b9ce;
@color-text-4: #8ea5c1;
@color-text-5: #7591b2; // darkest

@color-text: @color-text-3;
@color-text-active: @color-text-1;
@color-text-hover: lighten(@color-text-1, 20%);
@color-border-active: @color-text-1;

@logo-size: 26px;
@logo-size-lg: 36px;

/* oswald-200 - latin */
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 200;
    src: local('Oswald ExtraLight'), local('Oswald-ExtraLight'),
        url('fonts/oswald-v16-latin-200.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('fonts/oswald-v16-latin-200.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-regular - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
        url('fonts/open-sans-v15-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('fonts/open-sans-v15-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-italic - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: local('Open Sans Italic'), local('OpenSans-Italic'),
        url('fonts/open-sans-v15-latin-italic.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('fonts/open-sans-v15-latin-italic.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-700 - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'),
        url('fonts/open-sans-v15-latin-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('fonts/open-sans-v15-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* fira-mono-regular - latin */
@font-face {
    font-family: 'Fira Mono';
    font-style: normal;
    font-weight: 400;
    src: local('Fira Mono Regular'), local('FiraMono-Regular'),
        url('fonts/fira-mono-v6-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('fonts/fira-mono-v6-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* font awesome 5.5.0 - brands */
@font-face {
    font-family: 'Font Awesome 5 Brands';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/fa-brands-400.woff2') format('woff2'),
        url('fonts/fa-brands-400.woff') format('woff'),
        url('fonts/fa-brands-400.ttf') format('truetype');
}

.fab {
    font-family: 'Font Awesome 5 Brands';
}

/* font awesome 5.5.0 - solid */
@font-face {
    font-family: 'Font Awesome 5 Free';
    font-style: normal;
    font-weight: 900;
    src: url('fonts/fa-solid-900.woff2') format('woff2'),
        url('fonts/fa-solid-900.woff') format('woff'),
        url('fonts/fa-solid-900.ttf') format('truetype');
}

.fa,
.fas {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}


@main-font: 'Open Sans', sans-serif;
@secondary-font: 'Oswald', sans-serif;
@code-font: 'Fira Mono', monospace;


html,
button,
input,
select,
textarea,
.pure-g [class *="pure-u"] {
    font-family: @main-font;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}

html,
body {
    background-color: @color-background-2;
    background-image: linear-gradient(to top, @color-background-1, @color-background-2);
    width: 100%;
    color: @color-text;
}

a {
    text-decoration: @color-text-5 underline solid;
}

a:hover {
    color: @color-text-hover;
    text-decoration: @color-highlight underline solid;
}

a,
#show-disqus {
    color: @color-text-active;
    transition: color 0.5s ease,
        text-decoration 0.5s ease;
}

a:hover,
#show-disqus:hover {
    color: @color-text-hover;
}

::selection {
    background: #ff53f780;
}

code,
pre code {
    font-family: @code-font;
    font-size: 0.9em;
    word-spacing: initial;
}

code a {
    text-decoration: none;
}

code a:hover {
    text-decoration: @color-text-5 underline dashed;
}

div.sourceCode {
    overflow-x: auto;
    margin: 16px 0;
}

pre.sourceCode {
    display: inline-block;
    padding: 4px 8px;
    margin: 0;
    border-radius: 4px;
}

h1,
h2,
h3,
h4,
h5,
.project-title {
    font-family: @secondary-font;
    font-weight: 200;
    margin: 0;
    line-height: 1em;
}

h1 {
    font-size: 1.8em;
}

h2 {
    font-size: 1.7em;
    margin-top: 1.5em;
}

h3 {
    font-size: 1.6em;
    margin-top: 1.4em;
}

h4 {
    font-size: 1.5em;
    margin-top: 1.3em;
}

h5 {
    font-size: 1.4em;
    margin-top: 1.2em;
}

.post-link>h2 {
    margin-top: 0;
}

#menu-wr-0 {
    background-color: @color-background-1;
    height: 50px;
}

#menu-wr-1 {
    margin: 0 15px;
    text-align: center;
    position: relative;
    top: 0;
}

#menu {
    display: inline-block;
    vertical-align: top;
    list-style: none;
    font-family: @secondary-font;
    font-size: 1.8em;
    font-weight: 200;
    margin: 0;
    padding: 0;
}

#menu>li {
    display: inline-block;
    height: 50px;
}

#menu>li>a {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    color: @color-text;
    box-sizing: border-box;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: transparent;
    margin-left: 15px;
    padding-right: 0;
    transition: color 0.5s ease;
}

#menu>li>a.active {
    color: @color-text-active;
    border-color: @color-highlight;
}

#menu>li>a:hover {
    color: @color-text-hover;
}

#logo {
    width: @logo-size;
    height: @logo-size;
    padding: 14px 9px 9px 0;
}

#body-offset {
    display: none;
}

#body {
    padding: 20px 32px;
    overflow: hidden;
}

.post-link>h2 {
    display: inline-block;
    color: @color-text-1;
    transition: color 0.5s ease;
    margin-bottom: 8px;
}

.post-link-wr {
    margin: 20px 0 0 0;
}

#body>.post-link-wr:first-child {
    margin-top: 0;
}

.post-heading {
    color: @color-text-hover;
    display: inline-block;
    margin: 0 0 8px 0;
}

.post-link:hover>h2 {
    color: @color-text-hover;
}

.post-date,
.post-reading-time {
    display: inline-block;
    color: @color-text-5;
    vertical-align: top;
}

.post-date {
    margin-right: 9px;
}

.post-date .icon,
.post-reading-time .icon {
    display: inline-block;
    color: @color-text-3;
    font-size: 0.8em;
    vertical-align: top;
    margin-top: 2px;
}

#post-header {
    border-bottom: @color-text-5 dotted 1px;
    padding-bottom: 4px;
}

#post-body,
.project p,
#about p {
    max-width: 100%;
    font-size: 1em;
    line-height: 1.5em;
    letter-spacing: 0.01em;
    word-spacing: 0.25em;
}

#post-body table td {
    padding: 4px 8px;
    border-top: @color-text-5 dotted 1px;
}

#post-body tr:first-child td {
    border-top: none;
}

#post-body tr:hover td {
    background-color: #ffffff10;
}

#post-body sup {
    padding-left: 4px;
}

.footnotes .footnote-back {
    margin-left: 8px;
}

#post-body hr,
#post-footer {
    border: 0;
    border-top: @color-text-5 dotted 1px;
}

#post-body blockquote {
    font-style: italic;
    box-sizing: border-box;
    padding: 8px 64px;
    margin: 0;
}

#feed-link,
#post-footer {
    width: 100%;
    align-content: center;
    margin: 24px 0;
    padding-top: 8px;
    font-family: @secondary-font;
    font-size: 1.2em;
    font-weight: 200;
}

#post-footer {
    margin-top: 12px;
}

#feed-link>a {
    text-decoration: none;
}

#post-footer>a,
#show-disqus {
    text-decoration: none;
    padding-right: 24px;
}

#show-disqus {
    cursor: pointer;
    display: inline-block;
}

#disqus_thread {
    display: none;
}

.project {
    margin-bottom: 24px;
}

.project-title {
    border-top: @color-text-5 dotted 1px;
    color: @color-text-1;
    padding: 16px 0 8px 0;
}

#body>.project:first-child>.project-title {
    border-top: none;
    padding-top: 0;
}

.project-short-desc {
    font-size: 1.05em;
    color: @color-text-4;
}

.project-links {
    margin-bottom: 16px;
}

.project-links a {
    text-decoration: none;
    font-size: 1.1em;
}

.project>.project-img {
    max-width: 100%;
}

#about .social-links {
    font-size: 2em;
    list-style: none;
    margin: 24px 16px;
    padding: 0;
}

#about .social-links>li {
    display: inline-block;
    margin-right: 8px;
}

#about .social-links>li:last-child {
    margin-right: 0;
}


#post-body img {
    width: 100%;
    height: auto;
}

/* pure-lg */
@media screen and (min-width:64em) {

    h1 {
        font-size: 2.0em;
    }

    h2 {
        font-size: 1.9em;
    }

    h3 {
        font-size: 1.8em;
    }

    h4 {
        font-size: 1.7em;
    }

    h5 {
        font-size: 1.6em;
    }

    #menu-wr-0 {
        min-height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
    }

    #body-offset {
        display: inline-block;
    }

    #menu-wr-1 {
        margin: 24px 0;
        text-align: right;
        position: relative;
        top: 16%;
        left: 0%;
    }

    #menu {
        font-size: 2.2em;
        display: block;
    }

    #logo {
        width: @logo-size-lg;
        height: @logo-size-lg;
    }

    #menu>li {
        display: block;
    }

    #menu>li>a {
        height: 36px;
        line-height: 28px;
        border-style: solid;
        border-width: 0 1px 0 0;
        border-color: transparent;
        padding-left: 0;
        padding-right: 8px;
    }

    #body {
        padding: 40px 65px;
    }

    #posts-wr {
        margin-top: 65px;
    }

    #post-body ul {
        box-sizing: border-box;
    }

    #post-body>p,
    #post-body ul,
    #post-body ol,
    #post-body blockquote,
    .project>.project-short-desc,
    .project>.project-desc,
    .project>.project-links,
    #about>p {
        width: 66.6667%;
    }
}