<div id="about">
  <p>Hi, my name is Tomáš Zemanovič.</p>
  <p>
    I spend most of my professional time building software, for which, where
    appropriate, I mainly advocate for the use of statically-typed and pure
    functional programming languages. I'm also enthusiastic about both using and
    participating in open-source projects.
  </p>
  <p>
    After following the traditional path of learning and using many popular
    languages, I've embraced the joy of functional programming that builds on
    more solid foundations, crucial to keeping up with growing complexity (and
    that’s not just in a multi-core CPU setting). As Dr Simon Peyton Jones puts
    it, computer programs are among the largest structures humans have ever
    built. One of my most favourite realisations about functional programming
    was that the mathematical theory upon which it's built provides a much more
    general approach to problem-solving and as Dr Eugenia Cheng eloquently
    argues, the aim of mathematics is to make things easier. Lambda calculus
    together with type theory and category theory, the language of mathematics,
    are in my humble opinion some of the greatest gifts mathematicians gave to
    computer science.
  </p>
  <p>You can also find me or get in touch at:</p>
  <ul class="social-links">
    <li>
      <a
        class="social"
        title="email"
        href="mailto:&#116;&#122;&#101;&#109;&#97;&#110;&#111;&#118;&#105;&#99;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;"
        rel="noopener noreferrer"
      >
        <i class="fas fa-envelope-open"></i>
      </a>
    </li>

    <li>
      <a
        class="social"
        title="mastodon"
        href="https://fosstodon.org/@tzemanovic"
        rel="noopener noreferrer"
      >
        <i class="fab fa-mastodon"></i>
      </a>
    </li>

    <li>
      <a
        class="social"
        title="keybase"
        href="https://keybase.io/tzemanovic"
        rel="noopener noreferrer"
      >
        <i class="fab fa-keybase"></i>
      </a>
    </li>

    <li>
      <a
        class="social"
        title="gitlab"
        href="https://gitlab.com/tzemanovic"
        rel="noopener noreferrer"
      >
        <i class="fab fa-gitlab"></i>
      </a>
    </li>

    <li>
      <a
        class="social"
        title="github"
        href="https://github.com/tzemanovic"
        rel="noopener noreferrer"
      >
        <i class="fab fa-github"></i>
      </a>
    </li>

    <li>
      <a
        class="social"
        title="dev.to"
        href="https://dev.to/tzemanovic"
        rel="noopener noreferrer"
      >
        <i class="fab fa-dev"></i>
      </a>
    </li>
  </ul>
  <p>
    This page is made with
    <a href="http://jaspervdj.be/hakyll/" rel="noopener noreferrer">Hakyll</a>
    and is
    <a
      href="https://gitlab.com/tzemanovic/tzemanovic.gitlab.io"
      rel="noopener noreferrer"
      >open source</a
    >.
  </p>
</div>
