<div class="project">
  <h2 class="project-title">
    Exemplary RealWorld application built with Haskell + Yesod
  </h2>
  <p class="project-desc">
    Haskell/Yesod codebase containing real world examples (CRUD, auth, advanced
    patterns, etc) that adheres to the RealWorld spec and API. A part of
    <a href="https://realworld.io/">a bigger project</a> that implements a
    blogging platform and is built in many different languages in both the
    frontend and backend that you can mix and match together.
  </p>
  <div class="project-links">
    <a href="/posts/realworld-example-with-haskell-yesod/"
      ><i class="fas fa-book-reader"></i> <span>Read blog post</span></a
    ><br />
    <a
      href="https://github.com/tzemanovic/haskell-yesod-realworld-example-app"
      rel="noopener noreferrer"
      ><i class="fab fa-github-alt"></i>
      <span class="links-desc">See it on GitHub</span></a
    >
  </div>
</div>

<div class="project">
  <h2 class="project-title">
    Suitability of Functional Programming Concepts for 3D Game Engine
    Development in C++
  </h2>
  <div class="project-short-desc">
    Honours Final Project in Computer Games Software Development
  </div>
  <p class="project-desc">
    The goal was to investigate how practical it is to combine functional
    programming principles with traditionally imperative language in development
    of 3D game engines. I've implemented a limited 3D game engine in a subset of
    C++ following selected functional programming principles, together with an
    imperative implementation with equal capabilities for comparison. I've
    evaluated these by developing a demo with identical specs for both version.
  </p>
  <div class="project-links">
    <a href="https://github.com/tzemanovic/HP" rel="noopener noreferrer"
      ><i class="fab fa-github-alt"></i>
      <span class="links-desc">See it on GitHub</span></a
    >
  </div>
</div>

<div class="project">
  <h2 class="project-title">TodoMVC example app with elm-ui</h2>
  <p class="project-desc">
    A <a href="https://todomvc.com/">TodoMVC implementation</a> which offers the
    same application implemented using MV* concepts in most of the popular
    JavaScript MV* frameworks of today, built using Elm library
    <a href="https://github.com/mdgriffith/elm-ui">elm-ui</a>.
  </p>
  <div class="project-links">
    <a
      href="https://github.com/tzemanovic/elm-ui-todomvc"
      rel="noopener noreferrer"
      ><i class="fab fa-github-alt"></i>
      <span class="links-desc">See it on GitHub</span></a
    >
  </div>
</div>

<div class="project">
  <h2 class="project-title">Real-time Interactive Installation</h2>
  <div class="project-short-desc">Collaboration project</div>
  <p class="project-desc">
    In this installation you can control the view and the character with
    full-body Kinect Camera montion sensor. Built using Unity engine.
  </p>
  <div class="project-links">
    <a href="https://youtu.be/oobtxekIAkw" rel="noopener noreferrer"
      ><i class="fab fa-youtube"></i>
      <span class="links-desc">Watch live recording on YouTube</span></a
    >
  </div>
  <img
    class="project-img"
    src="/static/images/projects/jebus.png"
    alt="jebus"
  />
</div>

<div class="project">
  <h2 class="project-title">Quarter Brain</h2>
  <p class="project-desc">
    A browser game made during a game jam "Jamming 4 Small Change 2012". A
    weekend event taking place at the Glasgow Caledonian University, organized
    to make games for young carers, not just the fun of it! The games were
    intended to help young carers escape the responsibilities of their roles for
    a while, allowing them to unwind and socialise. Built using HTML5 with
    JavaScript and Box2D.
  </p>
  <div class="project-links">
    <a href="/quarter-brain" rel="noopener noreferrer"
      ><i class="fas fa-gamepad"></i>
      <span class="links-desc">Play it in your browser</span></a
    >
  </div>
  <img
    class="project-img"
    src="/static/images/projects/quarter-brain.png"
    alt="cope"
  />
</div>

<div class="project">
  <h2 class="project-title">Cope</h2>
  <div class="project-short-desc">Student collaboration project</div>
  <p class="project-desc">
    Student life simulation game designed to help reduce stress, built using
    Unity engine.
  </p>
  <div class="project-links">
    <a href="https://youtu.be/12l8poNW8D4" rel="noopener noreferrer"
      ><i class="fab fa-youtube"></i>
      <span class="links-desc">Watch the trailer on YouTube</span></a
    >
  </div>
  <img class="project-img" src="/static/images/projects/cope.png" alt="cope" />
</div>

<div class="project">
  <h2 class="project-title">Mirrors</h2>
  <div class="project-short-desc">Student collaboration project</div>
  <p class="project-desc">
    A 2D platformer game built in C++ using Box2D physics engine and Tiled Map
    Editor.
  </p>
  <div class="project-links">
    <a href="https://youtu.be/MQgPpxgwm2s" rel="noopener noreferrer"
      ><i class="fab fa-youtube"></i>
      <span class="links-desc">Watch the trailer on YouTube</span></a
    >
  </div>
  <img
    class="project-img"
    src="/static/images/projects/mirrors.png"
    alt="mirrors"
  />
</div>

<div class="project">
  <h2 class="project-title">Altention</h2>
  <p class="project-desc">
    A Windows Phone 8 game built using Box2D physics engine controlled with
    motion sensors.
  </p>
  <img
    class="project-img"
    src="/static/images/projects/altention.png"
    alt="altention"
  />
</div>
